.block {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: lightgray;
}
.container  {
  text-align: center;
}

a{
  color: blue;
}

.star { position: absolute; z-index: 0; top: 377px; left: 313px; width: 135px; height: 136px; visibility: visible }